<section class="merchant_name">
  <h1><%= @merchant.name %></h1>
</section>

<center>
  <section class="scrollable_3">
    <section class='address'>
      <p><%= @merchant.address %></p>
      <p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>
    </section>

    <h2>Statistics:</h2>

    <section class="scrollable" id="statistics-<%= @merchant.id %>">
      <p>Count of Items: <%= @merchant.count_of_items %></p>
      <p>Average Item Price: <%= number_to_currency(@merchant.average_item_price) %></p>
      <p>Cities you can find our monsters: <%= @merchant.distinct_cities %></p>
    </section>
  </section>

  <%= button_to 'Edit', "/merchants/#{@merchant.id}/edit", method: :get %>

  <% if !@merchant.has_orders? %>
    <%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %>
  <% end %>
</center>
